#textArea {
  width: 700px;
  height: 150px;
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
}

#inputArea {
  width: 700px;
  height: 50px;
}

#inputText {
  width: 700px;
  height: 50px;
  font-size: 16px;
}

#translationChoices {
  margin: 10px;
  font-family: sans-serif;
  font-size: 18px;
}

#translationArea {
  width: 700px;
  height: 150px;
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
}

#translationInputText {
  width: 700px;
  height: 50px;
  font-size: 16px;
}

body {
  background-image: url("http://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
  background-size: 100%;
}
